.field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.field .alignY {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.field .notMine, .field .fail, .field .mine, .field .question, .field .flag, .field .zero, .field .fill, .field .eight, .field .seven, .field .six, .field .five, .field .four, .field .three, .field .two, .field .one {
  width: 16px;
  height: 16px;
  background-image: url(../ikon/picture.png);
  border: none;
}
.field .one {
  background-position: 0px -68px;
}
.field .two {
  background-position: -17px -68px;
}
.field .three {
  background-position: -34px -68px;
}
.field .four {
  background-position: -51px -68px;
}
.field .five {
  background-position: -68px -68px;
}
.field .six {
  background-position: -85px -68px;
}
.field .seven {
  background-position: -102px -68px;
}
.field .eight {
  background-position: -119px -68px;
}
.field .fill {
  background-position: 0px -51px;
}
.field .zero {
  background-position: -17px -51px;
}
.field .flag {
  background-position: -34px -51px;
}
.field .question {
  background-position: -51px -51px;
}
.field .mine {
  background-position: -85px -51px;
}
.field .fail {
  background-position: -102px -51px;
}
.field .notMine {
  background-position: -119px -51px;
}