.field {

    display: flex;
    flex-direction: column;

    .alignY {
        display: flex;
        flex-direction: row;
    }

    %alignX {
        width: 16px;
        height: 16px;
        background-image: url(../ikon/picture.png);
        border: none;
    }

    .one {
        @extend %alignX;
        background-position: 0px -68px;
    }

    .two {
        @extend %alignX;
        background-position: -17px -68px;
    }

    .three {
        @extend %alignX;
        background-position: -34px -68px;
    }

    .four {
        @extend %alignX;
        background-position: -51px  -68px;
    }

    .five {
        @extend %alignX;
        background-position: -68px  -68px;
    }

    .six {
        @extend %alignX;
        background-position: -85px  -68px;
    }

    .seven {
        @extend %alignX;
        background-position: -102px  -68px;
    }

    .eight {
        @extend %alignX;
        background-position: -119px  -68px;
    }

    .fill {
        @extend %alignX;
        background-position: 0px  -51px;
    }

    .zero {
        @extend %alignX;
        background-position: -17px  -51px;
    }

    .flag {
        @extend %alignX;
        background-position: -34px  -51px;
    }

    .question {
        @extend %alignX;
        background-position: -51px -51px;
    }

    .mine {
        @extend %alignX;
        background-position: -85px  -51px;
    }

    .fail {
        @extend %alignX;
        background-position: -102px  -51px;
    }

    .notMine {
        @extend %alignX;
        background-position: -119px  -51px;
    }
}